.div1 {
    background-color: lightgray;
    width: 400px;
    height: 400px;
}

.div2 {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}

.div3 {
    background-color: lightcoral
}

.div4 {
    background-color: lightgray;
}