html {
    background-color: lightgray
}

h1 {
    color: darkgoldenrod;
}

p {
    font-size: 1.2em;
}

p > span {
    color: darkgoldenrod;
    font-weight: bold;
} 

.test {
    text-decoration: underline;
}