* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    background-color: aquamarine;
    height: 300px;
    width: auto;
}

div {
    background-color: aquamarine;
    height: 300px;
    width: 300px;

    display: inline-block;
}